<div id="hm-masthead">

        <div id="searchBox">
            <div class="search-text">
               Sök efter besvarade frågor</div>
            @Html.TextBox("Location")
            <input id="search" type="submit" value="Sök" />
        </div>
        
    
   
</div>
